@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-darker: var(--font-darker-grotesque);
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --font-albert: var(--font-albert-sans);

  --color-primary-orange: #ed5128;
  --color-dark-bg: #0f100a;
  --color-dark-card: #1a1a1a;
  --color-dark-text: #282828;
}

/* Custom Utilities if needed */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Reset or base styles */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Force pointer cursor on all links */
a, a * {
  cursor: pointer !important;
}
